.Container{
    width: 1148px;
    height: 625px;
}
body{
    background-image: url("../images/new_year_background.png");
}
header{
    height: 92px;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
    background-color: #ffffff;
    max-width: 1148px;
}
h1{
    margin-left: 131px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    padding: 33px;
    font-size: 27px;
    font-style: bold;
    color: white;
    background: #4aaaa5;
}
nav{
    float: right;
    padding: 30px;
    font-size: 20px;
    margin-right: 100px;

}
h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 26px;
    font-weight: bold;
    color:#4aaaa5;
    line-height: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
}
section.Main{
    font-size: 18px;
    font: Arial;
    line-height: 35px;
    width: 551px;
    height: auto;
    padding-top: 40px;
    padding: 30px;
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: #dddddd;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 131px;
    background-color: #ffffff;
}
h4{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 20px;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
}
.Connect{
    color:#4aaaa5;    
    width: 228px;
    height: auto;
    text-align: center;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    /*margin-bottom: 42px;*/
    border-style: solid;
    border-width: thin;
    border-color: #dddddd;
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
}
#picture{
    width: 200px;
    height: 200px;
    float: left;
    margin:20px;
    margin-left: 0px;
    margin-bottom: 10px;

}
p{
    margin: 10px;
}
#github{
    width: 62px;
    height:62px;
}
#linkedin{
    width: 62px;
    height:62px;
}
#stackoverflow{
    width: 62px;
    height:62px;
}
.footer{
    clear: both;
    text-align: center;
    background-color: #666666;
    color: #ffffff;
    padding: 36px;
    border-style: solid;
    border-top-width: thick;
    border-top-color: #4aaaa5;
    max-width: 1148px;
}